/* Footer Page Style */

.FooterPageWrapper {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #0049b7;
}

/* About Page Component */
.AboutWrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: rgba(233, 243, 251, 0.426);
}
.AboutContainer {
  margin: 10px auto 0 auto;
  width: 85%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.ImageSection {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.AboutImage {
  margin: 0 auto;
  padding: 01px;
  width: 55%;
  height: 55vh;
  z-index: 999;
  border: 1px solid #3b7ee4;
  border-width: 10px;
  border-radius: 5px;
}
.ProfileText {
  margin: 10px 0 0 0;
}
.ProfileText span {
  font-size: 20px;
  font-weight: 600;
  color: #0e62e1;
}
.ProfileText p {
  font-weight: 600;
  word-spacing: 0.5px;
  font-size: 18.3px;
  color: #0e62e1;
}
.TextSection {
  width: 55%;
  margin: 0 auto;
  padding: 0;
}
.TextSection .WhoAmI {
  padding: 20px 0;
}
.TextSection .WhoAmI h5 {
  font-size: 25px;
  font-weight: bold;
  color: #3b7ee4;
  margin: 15px 0;
}
.TextSection .WhoAmI p {
  font-weight: 500;
  word-spacing: 0.5px;
  font-size: 18.3px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .AboutContainer {
    width: 98%;
    flex-direction: column;
  }
  .ImageSection {
    width: 100%;
  }
  .AboutImage {
    width: 100%;
  }
  .TextSection div {
    width: 100%;
    text-align: center;
  }
}
/* Technologies Page */
.TechnologyWrapper {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(228, 241, 251, 0.426);
}
.TechnologyWrapper h5 {
    font-size: 25px;
    font-weight: bold;
    color: #3b7ee4;
    margin: 15px 0 40px 0;
    text-align: center;
    padding: 0;
}
.TechnologyContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Comment Section */
.commentWrapper {
    width: 100%;
}
.commentWrapper h5 {
    font-size: 25px;
    font-weight: bold;
    color: #3b7ee4;
    margin: 50px 0 35px 0;
    text-align: center;
    padding: 0;
}
.commentcontainer {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.commentcontainer div {
  width: 50vh;
}

/* Project Card Style */ 
.ProjectPageWrapper {
  width: 100%;
  margin: 0 auto;
}
.ProjectPageWrapper h5 {
  font-size: 25px;
  font-weight: bold;
  color: #3b7ee4;
  margin: 50px 0 35px 0;
  text-align: center;
  padding: 0;
}
.ProjectPageContainer {
  display: flex;
  margin: 10px auto;
  width: 96%;
  border-radius: 9px;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ProjectPageContainer div {
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .ProjectPageContainer div {
    padding: 10px 0 0 0;
  }
}