/*Technologies  Card Styles */
.Container {
    display: flex;
    flex-direction: row;
    gap: 1.5px;
    color: #fff;
    background-color: #0049B7;
    border-radius: 21.5px;
    padding: 10px 15.5px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 13.3px;
}

/*Comment and Review  Card Styles */
.CommentWrapper {
    width: 100%;
    height: auto;
}
.CommentContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 9px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.CommentContainer img {
    width: 130px;
    height: 130px;
    margin: 0;
    padding: 0;
}

.CommentText h5 {
    font-size: 18px;
    font-weight: bold;
    color: #0049B7;
    padding: 0;
    margin: 0;
}
.CommentText span {
    font-size: 15px;
    font-weight: 600;
}
.CommentText p {
    font-size: 15px;
    font-weight: 400;
    word-spacing: 0.5px;
    padding: 5px 13px;
    text-align: center;
}