/*Technologies  Card Styles */
.Container {
    display: flex;
    flex-direction: row;
    gap: 1.5px;
    color: #fff;
    background-color: #0049B7;
    border-radius: 21.5px;
    padding: 10px 15.5px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 13.3px;
}

/*Comment and Review  Card Styles */
.CommentWrapper {
    width: 100%;
    height: auto;
}
.CommentContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 9px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.CommentContainer img {
    width: 110px;
    height: 110px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #3b7ee4;
    border-width: 8px;
}
.CommentText {
    margin: 0 auto;
    width: 97%;
}
.CommentText h5 {
    font-size: 18px;
    font-weight: bold;
    color: #0049B7;
    padding: 0;
    margin: 0;
    text-align: center;
}
.CommentText span {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.CommentText p {
    font-size: 15px;
    font-weight: 400;
    word-spacing: 0.5px;
    padding: 5px 13px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .commentcontainer {
      gap: 15px;
      flex-wrap: wrap;
    }
}
/* Project Card Style */
.ProjectWrapper {
    width: 100%;
    margin: 0 auto;
}
.ProjectContainer {
    margin: 0 auto;
    width: 97.5%;
    height: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    /* border: 1px solid #000; */
}
.ProjectImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 56vh;
    border-radius: 9px;
    border: 1px solid #0049B7;
    overflow: hidden;
}
/* .ProjectImageWrapper img {
    padding: 7px;
    margin: 0;
    border-radius: 9px;
    object-fit: cover;
    width: 100%;
    height: 100%;
} */
.ProjectImage {
    border-radius: 9px;
    padding: 7px;
    margin: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.ProjectTextContainer {
    width: 39%;
    text-align: center;
    /* border: 1px solid #000; */
}
.ProjectTextContainer h5 {
    font-size: 21px;
    padding: 0;
    margin: 15px;
}
.ProjectTextContainer p {
    font-weight: 500;
    word-spacing: 1px;
    font-size: 18.3px;
    color: #000;
}
.ProjectTextContainer span {
    font-weight: 600;
    word-spacing: 1px;
    font-size: 19.3px;
    color: #3b7ee4;
}
.techWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.techWrapper div {
    margin: 0;
    padding: 5px 7.3px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    word-spacing: 0;
    letter-spacing: 0;
    font-weight: bold;
    white-space: nowrap;
    word-spacing: -0.2rem;
}
.projectButtonWrapper {
    width: 35%;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    background-color: #0049B7;
}
.projectButtonWrapper a {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.projectButtonWrapper a:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .ProjectContainer {
        gap: 5px;
        margin: 0;
        padding : 0;
        flex-direction: column;
    }
    .ProjectContainer div {
        padding: 10px 0 5px 0;
    }
    .ProjectImageWrapper {
        width: 90%;
        height: 40vh;
    }
    .ProjectTextContainer {
        width: 98%;
    }
    .techWrapper div {
       padding: 5px 5px;
    }
    .projectButtonWrapper {
        width: 80%;
    }
    .ProjectImageWrapper {
        margin: 0;
        padding: 0;
        width: 85%;
        height: 23vh;
        border-radius: 9px;
        border: 1px solid #0049B7;
        overflow: hidden;
    }
    .ProjectImage {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}