/* Footer Section On Molecule */
.HeroWrapper {
    width: 100%;
    padding: 5px 0;
    position: relative;
}
.HeroContainer {
    width: 85%;
    margin: 0px auto;
    display: flex;
    gap: 30px;
    align-items: center;
}
.TextSection {
    width: 56.5%;
    text-align: left;
}
.TextSection h5 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.TextSection span {
    font-size: 33px;
    color: #0049B7;
}
.TextSection p {
    font-weight: 500;
    word-spacing: 0.5px;
    font-size: 18.3px;
    color: #000;
}
.ButtonWrapper {
    margin: 15px 0 0 0;
    display: flex;
    gap: 15px;
}
.IconsWrapper {
    margin: 15px auto 0 auto;
    display: flex;
    gap: 15px;
}
.IconsWrapper a svg {
    width: 30px;
    height: 30px;
    color: #0049B7;
}
.ImageSection {
    padding: 0;
    margin: 0;
    width: 43%;
    border-radius: 5px;
}
/* .ImageSection img {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center center;
} */
.ImageWrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80vh;
    z-index: 999;
    /* border: 1px solid #3b7ee4; */
    /* border-width: 15px;
    border-radius: 5px; */
}
.random {
    color: rgb(229, 225, 225);
    font-weight: bolder;
}
.one {
    position: absolute;
    top: 150px;
    right: 480px;
    z-index: -999;
}
.two {
    position: absolute;
    top: 283px;
    right: 800px;
    z-index: -999;
}
.three {
    position: absolute;
    bottom: 22px;
    right: 430px;
    z-index: -999;
}
.four {
    position: absolute;
    bottom: 133px;
    left: 100px;
    z-index: -999;
}
.five {
    position: absolute;
    top: 18.5px;
    right: 230px;
    z-index: -999;
}
.six {
    position: absolute;
    bottom: 22px;
    right: 200px;
    z-index: -999;
}
.seven {
    position: absolute;
    bottom: 45px;
    left: 200px;
    z-index: -999;
}

/* Footer Section On Molecule */
.FooterWrapper {
    padding: 10px 0;
    margin: 0 auto;
}
.FooterWrapper div {
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.FooterWrapper div span {
    color: #ffffff;
    padding: 0 3px;
}
.FooterWrapper div strong {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
  .HeroContainer {
    flex-direction: column;
    gap: 0;
  }
  .TextSection {
    width: 91%;
    margin: 0 auto;
  }
  .ButtonWrapper {
    gap: 4px;  
}
  .ImageSection {
    padding: 25px 0 0 0;
    width: 75%;
    margin: 0 auto;
  }
}